
.formwidth{
  max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.container{
  label{
  @include fontstyle;
  font-weight: normal;
  }
  h3{
    @include fontstyle;
   }
  .form-control{
   border-radius: 0px;
  }
  .submit-button{
     background-color: $gold;
     color: #fff;
     border-color: #gold;
  }
  .submit-button:hover{
    background-color: $hover;
  }
}