$navFont: 14px Helvetica Neue;
$fontColor: black;

.navbar {
  background-color: white;
  min-height: auto;
  position: relative;
  top: 0px;
  font: $navFont;
  letter-spacing: 2px;
  width: auto;
  border-bottom: none;
  margin-bottom: 0px;
  padding: 20px 0px;
}
.navbar-brand {
  padding: 0 15px;
  height: 96px; 
  margin-left: 33.33%;
}
.navbar-header button{
  color:white;
  border:none;
}

.navbar-default .navbar-nav>li>a{
  color: $fontColor;
}

.navbar-default .navbar-nav>li>a:hover{
  color:#777;
}

.imgScale img {
  -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
    vertical-align: middle;
}

.imgScale img:hover {
  transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
}