@import 'master';



#backgroundImg{
  background-image: url(../img/Brushes.png);
  background-size: cover;
  height: 550px;
}

.navbar-collapse, .navbar-default .navbar-form {
    border-bottom: 1px solid #eaeaeb;
  }

.formwidth{
  max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.container{
  label{
    font-family: $navFont;
  letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    right: -45%;
    margin-left: 3%;
  }
  .navbar-nav > li {
    position: relative;
    left: -50%;
  }
  .navbar-nav > li a {
    line-height: 126px;
    vertical-align: middle;
    /*padding: 0 24px;*/
  } 
  .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
  }
   #backgroundImg{
     min-width: calc(100% + 40px);
}

@media (min-width: 992px) {
  .navbar-nav > li a {
    /*padding: 0 48px;*/
  } 
}
@media (min-width: 1200px) {
  .navbar-nav > li a {
    padding: 0 30px;
  } 
}  
}