$font: Helvetica Neue;
$navFont: 14px Helvetica Neue;
$fontColor: black;
$gold: #a4854d;
$hover: #ceb98b;

@mixin fontstyle{
  font-family: Helvetica Neue;
  letter-spacing: 2px;
}

@mixin courierFont{
  font-family: Courier;
  letter-spacing: 1px;
}

@mixin zoomIn{
  will-change: transform, filter;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: transform 16s cubic-bezier(0.215, 0.61, 0.355, 1),filter 1s ease-out 1s,-webkit-filter 1s ease-out 1s;
}

@mixin zomminHover{
 -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@import 'navBar';
@import 'forms';
@import 'footer';


#objectPage{
  .row{
    letter-spacing: 1px;
    line-height: 2em;
  } 
  .add-button{
    line-height: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #000000;
    color:#ffffff;
    border:1px solid #E4E4E4;
  }
  .add-button:hover{
    background-color: $gold;
  }
}

.thumbnail {
  border: 0px;
  .caption{
    text-align: center;
  }
}

.divider{
  height: 330px;
  border-right: 1px solid #e6e6e6;
}


.contactForm{

  form{
    width: 600px;
  }
}

.frontPage{
  h1{
    @include courierFont;
  }
}

.contactPage{
  @include fontstyle;
}

#catalogueMenu{
   .breadcrumb{
    background-color: #ffffff;
   }
}

.btn-link{
  color:black;
}

body{
  margin: 0 20px;
}
.fade{
  opacity: 1;
}

.storyBox{
   @include courierFont;
    line-height: 250%;
    padding:50px 50px;

  img{
    width: 500px;
  }
}

#map{
  height: 350px;
}

.carousel-inner {
    max-height: 650px;
    }

#backgroundImg{
  @include courierFont;
  @include zoomIn;
   overflow: hidden;
  /*background-image: url(../img/Brushes.png);
  background-size: cover;
  height: 550px; */
  color: white;  
  &:hover{
  @include zomminHover;
  }
}


body .flip-clock-wrapper ul li a div div.inn, body .flip-clock-small-wrapper ul li a div div.inn { color: #CCCCCC; background-color: #a4854d; } body .flip-clock-dot, body .flip-clock-small-wrapper .flip-clock-dot { background: #323434; } body .flip-clock-wrapper .flip-clock-meridium a, body .flip-clock-small-wrapper .flip-clock-meridium a { color: #323434; }


@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    right: -5%;
    margin-left: 3%;
     li {
    position: relative;
         a {
        line-height: 105px;
        /*vertical-align: middle;*/
    } 
  } 
  ul>li>a{
    line-height: 35px;
  }
  .navbar ul.dropdown-menu, .navbar li.dropdown b.caret {
        display: none;
    }
}

}

@media(max-width:768px){
  .clock-builder-output .flip-clock-wrapper{
        margin: 0 auto;
    display: block;
    width: 322px;
    height: 116px;
  }
}
  
@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .navbar-nav > li a {
    padding: 0 30px;
  } 
}  



