$navFont: 16px Helvetica Neue;
$fontColor: #ffffff;

.logo{
	height: 100px;
	width: 100px;
}
.upperlogo{
  margin-top : -60px;
}
.navbar {
  background-color: white;
  min-height: auto;
  position: relative;
  top: 0px;
  font: $navFont;
  width: auto;
  border-bottom: none;
  margin-bottom: 0px;
  padding: 20px 0px;
}
.navbar-brand {
  padding: 0 15px;
  height: 96px; 
  margin-left: 33.33%;
}
.navbar-header button{
  color:white;
  border:none;
}


.imgScale img {
  -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
    vertical-align: middle;
}

.imgScale img:hover {
  transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
}

@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    right: -50%;
  }
  .navbar-nav > li {
    position: relative;
    left: -50%;
  }
  .navbar-nav > li a {
    line-height: 126px;
    vertical-align: middle;
    padding: 0 24px;
    /*color: $fontColor;*/
  } 
}
@media (min-width: 992px) {
  .navbar-nav > li a {
    padding: 0 48px;
  } 
}
@media (min-width: 1200px) {
  .navbar-nav > li a {
    padding: 0 30px;
  } 
}  