/*nav{
 margin-bottom: 100px;
}
*/
.logo {
  height: 85px;
  width: 85px; }

.upperlogo {
  margin-top: -40px; }

.navbar {
  background-color: white;
  min-height: auto;
  position: relative;
  top: 0px;
  font-family: 14px Helvetica Neue;
  letter-spacing: 2px;
  width: auto;
  border-bottom: none;
  margin-bottom: 0px;
  padding: 20px 0px; }

.navbar-brand {
  padding: 0 15px;
  height: 126px;
  margin-left: 33.33%; }

.navbar-header button {
  color: white;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: black; }

.navbar-default .navbar-nav > li > a:hover {
  color: #a4854d; }

.navbar-collapse, .navbar-default .navbar-form {
  border-bottom: 1px solid #eaeaeb; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #ceb98b; }

.dropdown:hover .dropdown-menu {
  display: block; }

.formwidth {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }

.container label {
  font-family: Helvetica Neue;
  letter-spacing: 2px;
  font-weight: normal; }
.container h3 {
  font-family: Helvetica Neue;
  letter-spacing: 2px; }
.container .form-control {
  border-radius: 0px; }
.container .submit-button {
  background-color: #a4854d;
  color: #fff;
  border-color: #a4854d; }
  .container .submit-button:hover {
    background-color: #ceb98b;
    border-color: #ceb98b; }

footer {
  border-top: 1px solid #eaeaeb;
  font: 13px Helvetica Neue;
  letter-spacing: 0.04em;
  margin-top: 100px; }

.contactForm form {
  width: 600px; }

.frontPage h1 {
  font-family: Courier;
  letter-spacing: 1px; }

.contactPage {
  font-family: Helvetica Neue;
  letter-spacing: 2px; }

#catalogueMenu .breadcrumb {
  background-color: #ffffff; }

.btn-link {
  color: black; }

body {
  margin: 0 20px; }

.fade {
  opacity: 1; }

.storyBox {
  font-family: Courier;
  letter-spacing: 1px;
  line-height: 250%;
  padding: 50px 50px; }
  .storyBox img {
    width: 500px; }

#map {
  height: 350px; }

.carousel-inner {
  max-height: 600px; }

#backgroundImg {
  font-family: Courier;
  letter-spacing: 1px;
  will-change: transform, filter;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: transform 16s cubic-bezier(0.215, 0.61, 0.355, 1), filter 1s ease-out 1s, -webkit-filter 1s ease-out 1s;
  overflow: hidden;
  /*background-image: url(../img/Brushes.png);
  background-size: cover;
  height: 550px; */
  color: white; }
  #backgroundImg:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    right: -5%;
    margin-left: 3%; }
    .navbar-nav li {
      position: relative; }
      .navbar-nav li a {
        line-height: 105px;
        /*vertical-align: middle;*/ }
    .navbar-nav ul > li > a {
      line-height: 35px; }
    .navbar-nav .navbar ul.dropdown-menu, .navbar-nav .navbar li.dropdown b.caret {
      display: none; } }
@media (min-width: 1200px) {
  .navbar-nav > li a {
    padding: 0 30px; } }

/*# sourceMappingURL=style.css.map */
